.container{
    display: flex;
    flex-wrap: wrap;
}

.modal{
    width: 300px;
    height: 150px;
    border-radius: 5px;
    margin: 20px;
    background-color: gray;
}

.boardTitle{
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
}