* {
  box-sizing: border-box;
  font-family: "Nunito",sans-serif;;
}


.background {
  width: 100%;
  height: 100vh;
}

.new-board {
  margin: 1rem;
  height: 180px;
  color: white;
  background-color: gray;
  font-weight: 500;
  border-radius: 10px;
  text-align: left;
  width: 300px;
  padding: 1rem;
  background-position: 50%;
  background-size: cover;
  cursor: pointer;
  text-decoration: none;
}

.board{
  display: flex;
  flex-wrap: wrap;
  height: 180px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  margin: 1em;
  text-align: left;
  width: 300px;
  padding: 1em;
  background-size: cover;
  cursor: pointer;
  text-decoration: none;
  background-image: url("/home/shivi/trello-react-shivi/public/images/back1.jpg");
}

.lists{
  background-image: url("/home/shivi/trello-react-shivi/public/images/back1.jpg");
    height: 94vh;
    width: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;
    overflow-x: scroll;
}

.outerListContainer{
  padding: 20px;
  display: flex;
  align-items: flex-start;
  overflow-x: auto;
  background-size: cover;
  height: 100vh;
}

.listContainer{
  width: 300px;
  background-color: #e8e9ed;
  border-radius: 0.3rem;
  padding: 20px;
  max-height: 93vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.createListBtn{
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  margin-top: 20px;
}

.deleteList{
  cursor: pointer;
  align-self: center;
}

.listName{
  font-weight: bold;
}

.addListInput{
  min-width: 100%;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  padding:0.5rem;
  font-size: .9rem;
  outline: none;
}

.listModule{
  margin-top: 20px;
  background-color: #e8e9ed;
  padding: 10px;
  border-radius: 5px;
}

.addListDiv{
  display: flex;
  width: 300px;
  justify-content:space-around;
}

.addListItemBtn{
  width: 95%;
  border: none;
  background-color: transparent;
  text-align: center;
  margin: 5px;
  padding: 6px;
  color: gray;
  cursor: pointer;
  border-radius: 4px;
}

.addListItemBtn:hover{
  background-color: #d9dce2;
  color: #000;
}

.listItemModule{
  margin-left: 5px;
  width: 95%;
}

.cardTitle{
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 4px;
  padding: 4px;
  width: 100%;
}

.closeCardModule{
  cursor: pointer;
  margin-left: 10px;
}

.dltListItemBtn{
  cursor: pointer;
  color: red;
  font-weight: bold;
}

.cardItem{
  width: 95%;
  background-color: white;
  display: flex;
  justify-content:space-between;
  padding: 8px;
  border-radius: 4px;
  margin: 5px;
}